body{
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    word-break: break-word;
}

img{ max-width: 100% }

.text-blue{ color: #255a8c; }
.text-white{ color: white; }

.bg2-blue{ background: #255a8c; }
.bg2-gray{ background: #e6e6e6; }
.bg3-gray{ background: #808080 !important; }

.text-gray{ color: #797979; }
p.text-gray{ font-size: 1.9rem; }
p.text-gray-middle{ font-size: 1.6rem; }

.p-0{ padding: 0; }
.m-0{ margin: 0; }

.fw{ font-weight: bold; }
.fw500{ font-weight: 500; }

.m-1{ margin: 0.5rem }
.m-2{ margin: 1rem }
.m-3{ margin: 1.3rem }
.m-4{ margin: 2rem }
.m-5{ margin: 3.5rem }

.mb-1{ margin-bottom: 0.5rem }
.mb-2{ margin-bottom: 1rem }
.mb-3{ margin-bottom: 1.3rem }
.mb-4{ margin-bottom: 2rem }
.mb-5{ margin-bottom: 3.5rem }

.mt-1{ margin-top: 0.5rem }
.mt-2{ margin-top: 1rem }
.mt-3{ margin-top: 1.3rem }
.mt-4{ margin-top: 2rem }
.mt-5{ margin-top: 3.5rem }

.mr-1{ margin-right: 0.5rem }
.mr-2{ margin-right: 1rem }
.mr-3{ margin-right: 1.3rem }
.mr-4{ margin-right: 2rem }
.mr-5{ margin-right: 3.5rem }

.ml-1{ margin-left: 0.5rem }
.ml-2{ margin-left: 1rem }
.ml-3{ margin-left: 1.3rem }
.ml-4{ margin-left: 2rem }
.ml-5{ margin-left: 3.5rem }

.p-1{ padding: 0.5rem }
.p-2{ padding: 1rem }
.p-3{ padding: 1.3rem }
.p-4{ padding: 2rem }
.p-5{ padding: 3.5rem }

.pb-1{ padding-bottom: 0.5rem }
.pb-2{ padding-bottom: 1rem }
.pb-3{ padding-bottom: 1.3rem }
.pb-4{ padding-bottom: 2rem }
.pb-5{ padding-bottom: 3.5rem }

.pt-1{ padding-top: 0.5rem }
.pt-2{ padding-top: 1rem }
.pt-3{ padding-top: 1.3rem }
.pt-4{ padding-top: 2rem }
.pt-5{ padding-top: 3.5rem }

.pr-1{ padding-right: 0.5rem }
.pr-2{ padding-right: 1rem }
.pr-3{ padding-right: 1.3rem }
.pr-4{ padding-right: 2rem }
.pr-5{ padding-right: 3.5rem }

.pl-1{ padding-left: 0.5rem }
.pl-2{ padding-left: 1rem }
.pl-3{ padding-left: 1.3rem }
.pl-4{ padding-left: 2rem }
.pl-5{ padding-left: 3.5rem }

.herramientas-seccion{}
.herramientas-item{
    border: solid 2px #ababab;
    border-radius: 2px;
    transition: 300ms ease;
}
.herramientas-item a{
    text-decoration: none;
}
.herramientas-item:hover{
    background: #255a8c;
    border-color: #255a8c;
}
.herramientas-item:hover .herramientas-item-titulo{ color: white; }
.herramientas-item-imagen{
    position: relative
}
.herramientas-item:hover .herramientas-item-imagen img:first-child{ display: none }
.herramientas-item:hover .herramientas-item-imagen img:last-child{ display: block }
.herramientas-item-imagen img{
}
.herramientas-item-imagen img:last-child{ display: none }
.herramientas-item-titulo h3{
    font-size: 1.65rem;
    padding: 0 .5rem;
}

.seccion-banner img{
    width: 100%;
}

.title-icon{
}
.title img{
    max-width: 35px;
    vertical-align: middle;
    position: relative;
    top: -4px;
}

.title-light{
    font-size: 4.5rem;
    font-weight: 400;
}

.df{ display: flex;}
.db{ display: block;}
.aic{ align-items: center; }
.aie{ align-items: end; }
.jcc{ justify-content: center; }
.jce{ justify-content: end;}
.tdn{ text-decoration: none;}

.main-observatorio .container{
    background-image: none !important;
}

.item-wrap {
    margin-top: 5rem;
}

.section-objetivos{}
.section-objetivos ul{
    padding-left: 0;
}
.section-objetivos ul li{
    list-style: none;
    margin-bottom: 2.5rem;
    position: relative;
    font-weight: 500;
}
.section-objetivos ul li:before{
    content: '';
    width: 8px;
    height: 8px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
    background: #255a8c;
    border-radius: 50%;
}

.aliados-section{}
.aliados-section img{
    display: inline-block;
    vertical-align: top;
    max-width: 100px;
    transition: 200ms ease;
    margin: 0 .8rem;
}
.aliados-section img:hover{
    transform: scale(1.1);
}
.aliados-section .img2 img{
    max-width: 180px;
}

.miembros-button{
    padding: 1rem;
    min-width: 55%;
    border-radius: 50px;
    background: #255a8c;
    font-size: 3.5rem;
}

.miembro-wrap img{
    transition: 300ms ease;
}
.miembro-wrap:hover img{
    transform: scale(1.1);
}

.section-main .panel-title {
    font-size: 3rem;
}

.cuadros-section{}
.cuadros-section .bg2-gray{
    transition: 300ms ease;
}
.cuadros-section .bg2-gray:hover {
    background: #255a8c;
}
.cuadros-section .bg2-gray:hover h4,
.cuadros-section .bg2-gray:hover p{
    color: white;
}

a:hover,
a:focus{
    text-decoration: none;
}

.ejes-item{
    position: relative;
    overflow: hidden;
}

.ejes-item:focus .ejes-descripcion,
.ejes-item:hover .ejes-descripcion{
    top: 0;
    line-height: 1.3;
}

.ejes-imagen{
    width: 100%;
}
.ejes-descripcion{
    position: absolute;
    top: 80%;
    left: 0;
    right: 0;
    height: 100%;
    background: rgba(37, 90, 140, 0.85);
    padding: 1rem 2rem;
    font-size: 2.5rem;
    line-height: 2;
    transition: 200ms ease-in-out;
    overflow: auto;
}

.tabs-section{}
.tabs-section .nav{ 
    text-align: center;
    border: none;
}
.tabs-section .nav li{
    float: none;
    display: inline-block;
    vertical-align: top;
}
.tabs-section .nav li.active a,
.tabs-section .nav li a{
    border: none !important;
    color: #666666;
    font-weight: bold;
    position: relative;
    transition: 200ms ease;
}
.tabs-section .nav li.active a,
.tabs-section .nav li a:hover{
    background: #255a8c;
    color: white;
}
.tabs-section .nav li a:hover{
    background: none !important;
}
.tabs-section .table{ 
    font-weight: 600; 
    font-size: 1.5rem;
}

.quotes-section img{ width: 100%; }
.quotes-wrap{
    min-height: 300px;
    position: relative;
}

.quotes-wrap .title-quotes{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    max-height: 8rem;
    font-size: 4rem;
    padding: 0 2rem;
    text-align: center;
    font-weight: 400;
}
.quotes-wrap .title-quotes .fa{
    color: #3f73a5;
    font-size: 5rem;
    position: absolute;
}
.quotes-wrap .title-quotes .fa:first-child{
    top: -1rem;
    left: 1rem;
}
.quotes-wrap .title-quotes .fa:last-child{
    right: 1rem;
    bottom: -2rem;
}

@media (min-width: 992px){
    .bg2-gray-lg{
        background: #e6e6e6;
    }
}
@media (min-width: 1400px){
    .quotes-wrap {
        min-height: 390px;
    }
}
@media (min-width: 1200px){
    .herramientas-item-titulo h3{
        font-size: 1.4rem;
    }
    .quotes-wrap {
        height: 350px;
    }
    .quotes-wrap .title-quotes {
        padding: 0 5rem;
    }
    .quotes-wrap .title-quotes .fa:first-child {
        left: 3rem;
    }

    .quotes-wrap .title-quotes .fa:last-child {
        right: 3rem;
    }
}

@media (max-width: 992px){
    .herramientas-item{
        margin-bottom: 2rem
    }

    .mt-sm-0{ margin-top: 0 }
    .mb-sm-0{ margin-bottom: 0 }
    .mb-sm-3{ margin-bottom: 1.5rem }
    .mb-sm-5{ margin-bottom: 3rem }
    .pt-sm-0{ padding-top: 0 }
    .pt-sm-3{ padding-top: 1.5rem }
    .pb-sm-0{ padding-bottom: 0 }

    .ejes-descripcion{
        font-size: 2rem;
        top: 77%;
    }
}

@media (max-width: 768px){
    .subtitle,
    .title {
        text-align: center;
    }
    .item-wrap {
        margin: 2.5rem 0;
    }

    .title-light {
        font-size: 2.5rem;
    }
    .section-main .panel-title {
        font-size: 2rem;
    }
    .miembros-button {
        padding: .5rem;
        min-width: 45%;
        font-size: 2.5rem;
    }
    .miembros-section img:not(.main){
        width: 45%;
    }

    .mb-xs-4 {
        margin-bottom: 1.5rem
    }

    .ejes-descripcion{
        top: 89%;
        line-height: 1.5;
    }
    .quotes-wrap {
        height: auto;
    }
    .quotes-wrap .title-quotes {
        position: relative;
        top: inherit;
        bottom: inherit;
        left: inherit;
        right: inherit;
        margin: 3rem 0;
        max-height: inherit;
        font-size: 3rem;
        padding: 0 2rem;
    }

    .quotes-wrap .title-quotes .fa {
        font-size: 4rem;
        position: relative;
    }

    .quotes-wrap .title-quotes .fa:first-child {
        top: inherit;
        left: inherit;
    }

    .quotes-wrap .title-quotes .fa:last-child {
        right: inherit;
        bottom: inherit;
    }
}
@media (max-width: 575px){

    .herramientas-item-titulo h3 {
        font-size: 1.4rem;
        word-break: break-word;
    }

    .subtitle,
    .title{
        font-size: 2rem;
        padding-left : 0;
    }
    li.text-gray,
    p.text-gray{
        font-size: 1.5rem;
    }
    .aliados-section img {
        max-width: 100%;
        width: 49%;
    }
    .ejes-descripcion {
        top: 87%;
    }
}
@media (max-width: 420px) {

    .aliados-section img {
        max-width: 100%;
        width: auto;
    }

    .ejes-descripcion {
        top: 84%;
        font-size: 1.5rem;
    }
}